
/**
* KT START
* Author: kentaro@kentaro.be  - www.ktdev.info 
* Under Licence GPLV3
*/


/* +++++++++++++++++++++++++++++++ Elements +++++++++++++++++++++++++++++++++ */
body { padding-top: 50px; color: #fff; }
h4 { color: #1456BA; }
h3 { text-decoration: none; }
label {    display: block;    width: 150px; float: left; }
dt, dd { line-height: 1.3 !important; }
dl { margin-bottom: 0 !important; }
a { color: #11C4FF; }
a.btn.btn-default { color: red !important; }
a .macaronInfo:hover  { background-color: #0E8AEF; color: #fff; }
a .macaronEdit:hover  { background-color: #48832C; color: #fff; }
a .macaronDelete:hover { background-color: #E13D13; color: #fff; } 
a.editBadge { color: #000; }
a.deleteBadge { color: #FFF; }
a.filterName, a.filterName:hover { color: #969696 !important; }
li.list-group-item:hover { background: #C1FC72;}
li.list-group-item a:hover { color: #000000; }
li.liTools { padding: 0; }
li.liTools:hover { background: #840000; }
blockquote.error { border-left: 5px solid #981818; background-color: rgba(255, 0, 0, 0.5); }
td > small { font-size: 0.7em; }
hr { color: rgba(42, 171, 210, 0.5); background-color: rgba(42, 171, 210, 0.5); height: 1px; border: 0; margin: 5px 0; }
div.version { float: right; margin-top: 19px !important; color: #969696; padding-right: 15px; } 
ul.nav-ktstart { border-left: 1px solid #000000; }
a.close { color: #000; text-decoration: none; font-size: 1.3em; }
label.error { width: auto; font-weight: 100; margin-top: 8px; color: #98F91C; }
form#formInit { margin-left: 15px; }

/* +++++++++++++++++++++++++++++++++ ID's +++++++++++++++++++++++++++++++++++ */
#title, .el_center{ margin: 20px 0; text-align: center; }
#content, #form{ width: 500px; margin: 20px auto; padding: 10px; border: 1px solid #E0E0E0; }
#kmenu{ background: #000; width: 100%; height: 25px; margin: 0 !important; }
#directory { margin-top: 20px; }
#listProjets li.proj { list-style-type:none; }
#startpage, td, th {  background: none !important; font-size: 0.9em !important; }


#tools { text-align: center; }
#emptyDir { 
    font-size: 2.0em; 
    color: #fff; 
    margin: 100px auto;                                                 
    padding: 50px 15px; 
    border: 1px solid #2AABD2;
    background-color: rgba(22, 32, 42, 1.0); 
    -moz-border-radius: 5px 5px; 
    -webkit-border-radius: 5px 5px; 
    border-radius: 5px 5px;                      
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.56);
}
.initialize { 
    font-size: 1.4em; 
    color: #fff; 
    margin: 100px auto;                                                 
    padding: 50px 15px; 
    border: 1px solid #2AABD2;
    background-color: rgba(22, 32, 42, 1.0); 
    -moz-border-radius: 5px 5px; 
    -webkit-border-radius: 5px 5px; 
    border-radius: 5px 5px;                      
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.56);
}
.txtBgThumb { color: rgba(22, 32, 42, 1.0); font-size: 0.8em; font-weight: 200; }

/* ++++++++++++++++++++++++++++++ Classes +++++++++++++++++++++++++++++++++++ */

/* +++  KT Classes +++ */
.kt-hr {  
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
.ktblue { 
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    border-bottom: 1px solid #022241;
    filter: none;
}
.ktoggle { margin-right: 10px; }
.KT_red { color: #BC0000 !important; }
.KT_black { color: #000; }
.KT_white { color: #fff; }
.KT_justify { text-align: justify; }
.KT_center { text-align: center; }
.KT_shadow { text-shadow: 2px 2px 3px #808080; }
.KT_error { color: #BC0707;}
.KT_font13 { font-size: 1.3em; }
.KT_bg_grey { background: #D4DADB; }
.KT_top20 { margin-top: 20px; }
.KT_bot20 { margin-bottom: 20px; }
.KT_left15 { margin-left: 15px; }
.KT_toggle { margin-right: 10px; }
.KT_color { color: #11C4FF !important;  }
.KT_color_2 { color: #98F91C !important;  }
.KT_shadow { text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.56); }
.KT-txt-right { text-align: right !important; }
.KTapp { border-left: 5px solid #F42800; margin: 5px; border-bottom: 1px solid #E0E0E0; padding-bottom: 10px; }
.KTappTitle { font-weight: bold; color: #232323; }
.KTexplications { margin-left: 10px; border: 1px solid #D8E1E7; padding: 5px; background: #ECEEE6; -moz-border-radius: 5px 5px; -webkit-border-radius: 5px 5px; border-radius: 5px 5px; }
.KTteam-background { background: #0B0D0D url('../img/bg-carbon.jpg') top center; }
.KTFontLight { font-size: 1.1em !important; }
.mini { width: 100px; }


/* +++ TABLE Classes +++ */
.table-striped > tbody > tr:nth-child(2n+1) { background-color: rgba(33, 32, 32, 0.7); }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { border-top: 1px solid #585858 !important; }
.table-striped > tbody > tr:hover { background-color: #000; }
.thTitle { background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%); background-repeat: repeat-x; }
.verticalAllign { vertical-align: middle !important; }
.table-striped > tbody > tr > td.magnify { font-size: 1.2em !important; cursor:pointer; }
tr.thTitle th { border-left: 1px solid #585858; border-left: 1px solid #585858;}
tr.tdBody td { border-left: 1px solid #1B1B1B; border-left: 1px solid #1B1B1B;}


/* +++ TOOL Classes +++ */
.selectpicker { color: #fff; }


/* +++ Alert Flash Classes +++  */
.alert { z-index: 100; display: none; }

/* +++  BADGES Classes +++ */
.macaron { 
    border: 1px solid #000; 
    width: 142px !important;
    height: 142px !important;
    margin: 10px; 
    padding: 15px 0 15px 15px; 
    float: left;
    background: url('../img/bg-macaron.png'); 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
    overflow: hidden; 
}
/*.macaron:hover { border: 1px solid #2AABD2;  box-shadow: 4px 4px 5px #265563; }*/
.macaronUrl a { font-size: 0.8em; color: #659C02 !important;}
.macaronUrl a:hover { color: #2AABD2 !important; }
.macaronUrl { width: 102px; }
.macaronThumb { border: 1px solid #fff; width: 102px; height: 102px; padding-top: 5px; font-size: 1.0em; word-wrap: break-word; float: left; overflow: hidden; }
.macaronThumb:hover { border: 1px solid #000; color: #000 !important;}
.macaronAdmin { float: right; width: 25px; }
.macaronInfo { background: #D0D0D0; width: 20px; height: 22px; color: #014883; vertical-align: middle; /*padding-top: 4px;*/ }
.macaronEdit { background: #ACACAC; width: 20px; height: 22px; color: #000; vertical-align: middle; /*padding-top: 4px;*/ }
.macaronDelete { background: #999; width: 20px; height: 22px; color: #FF0000; vertical-align: middle; /*padding-top: 4px;*/ }
.macaronDate { color: #014883; }
.ancrePopover { white-space: nowrap; }
.popover { color: #000; font-size: 1.0em; word-wrap: break-word; }
.popover-title { color: #014883; font-weight: bold; }
.popover-content strong { color: #0E8AEF;  }

.lightBlue { background: url('../img/bgthumb/lightBlue.jpg'); width: 100px; height: 100px;  } 
.lightGreen { background: url('../img/bgthumb/lightGreen.jpg'); width: 100px; height: 100px;  }
.lightRed { background: url('../img/bgthumb/lightRed.jpg'); width: 100px; height: 100px;  }
.deepBlue { background: url('../img/bgthumb/deepBlue.jpg'); width: 100px; height: 100px;  }
.turquoise { background: url('../img/bgthumb/turquoise.jpg'); width: 100px; height: 100px;  }
.grassGreen { background: url('../img/bgthumb/grassGreen.jpg'); width: 100px; height: 100px;  }
.blueSky { background: url('../img/bgthumb/blueSky.jpg'); width: 100px; height: 100px;  }
.camouflage { background: url('../img/bgthumb/camouflage.jpg'); width: 100px; height: 100px;  }
.deepPurple { background: url('../img/bgthumb/deepPurple.jpg'); width: 100px; height: 100px;  }
.lightOrange { background: url('../img/bgthumb/lightOrange.jpg'); width: 100px; height: 100px;  }
.lightViolet { background: url('../img/bgthumb/lightViolet.jpg'); width: 100px; height: 100px;  }
.lightYellow { background: url('../img/bgthumb/lightYellow.jpg'); width: 100px; height: 100px;  }
 
.badge-lightBlue:hover { border: 1px solid #207A94;  box-shadow: 4px 4px 5px #134959; }
.badge-lightGreen:hover { border: 1px solid #588800 ;  box-shadow: 4px 4px 5px #314A00; }
.badge-lightRed:hover { border: 1px solid #8B0021;  box-shadow: 4px 4px 5px #77001B; }
.badge-deepBlue:hover { border: 1px solid #3763A4;  box-shadow: 4px 4px 5px #223E66; }
.badge-turquoise:hover { border: 1px solid #209582;  box-shadow: 4px 4px 5px #16695C; }
.badge-grassGreen:hover { border: 1px solid #297507;  box-shadow: 4px 4px 5px #143D03; }
.badge-blueSky:hover { border: 1px solid #00ABCF;  box-shadow: 4px 4px 5px #006175; }
.badge-camouflage:hover { border: 1px solid #486851 ;  box-shadow: 4px 4px 5px #283C2E; }
.badge-deepPurple:hover { border: 1px solid #5F3984;  box-shadow: 4px 4px 5px #38224F; }
.badge-lightOrange:hover { border: 1px solid #D85424;  box-shadow: 4px 4px 5px #883617; }
.badge-lightViolet:hover { border: 1px solid #9338D5;  box-shadow: 4px 4px 5px #4B1872; }
.badge-lightYellow:hover { border: 1px solid #CAA032;  box-shadow: 4px 4px 5px #856921; }
 
.textThumb { color: #fff; vertical-align: middle; display: inline; font-size: 1.5em; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.58); }
.textThumb:hover { color: #000; margin: auto; }
.macaron.new { border: 1px solid #F20000; }
.closed { color: #F20000; text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); }
.times { font-size: 1.4em; }

/* +++ LISTVIEW Classes +++ */
.col {  
    -moz-column-count:3;
    -moz-colum-width:30%;  
    -moz-column-gap:20px;
    -webkit-column-count:3;
    -webkit-colum-width:30%;  
    -webkit-column-gap:20px;
    column-count:3;
    column-width:30%;  
    column-gap:20px;
           
}
.KTbtn {
    display: inline-block;
    position: relative;
    margin: 3px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    font: bold 0.8em/1.2em Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.btnGreen { color: #3e5706; background: rgba(167, 206, 81, 0.8); }
.btnBlue { color: #19667d; background: #70c9e3; }
.btnGray { color: #515151; background: #d3d3d3; }
.btnRed { color: #FFF; background: #FF0000; }

/* +++ Liste d'onglets +++ */

.listTabs {
    border: 1px solid #000; 
    margin: 10px; 
    padding: 5px; 
    background: url('../img/bg-macaron.png'); 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    box-shadow: 4px 4px 5px #000;
}
a.aList { text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.95) !important; color: #808080; }
a.aList:hover { text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25) !important; color: #11C4FF !important; }
.btnListTab { border: 1px solid #000; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; border-radius: 3px 3px; background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%); background-repeat: repeat-x; }
.btnListSelected { border: 1px solid #000; -moz-border-radius: 3px 3px; -webkit-border-radius: 3px 3px; border-radius: 3px 3px; background-image: linear-gradient(to bottom, #11C4FF 0px, #014883 100%); background-repeat: repeat-x; }
a.tabSelected { color: #000 !important; }

.itemList { border: 1px solid #272727; padding: 0 1px; background: rgba(96, 96, 96, 0.1); overflow: hidden; }
.itempublic { background: rgb(143, 201, 8); color: #272727;  padding: 3px 5px;  }
.itemprivate { background: rgb(216, 17, 17); padding: 3px 5px; }
.itemEdit { background: rgb(173, 173, 173); padding: 3px 5px; }
.itemDelete { background-color: #750003; padding: 3px 5px; }
.itemEdit a { color: #000; }
.itemDelete a { color: #FFF; }

/* +++ EL Classes +++ */
.el_red { color: #BC0000; }
.el_blue { color: #014883; }
.el_green { color: #11C4FF; }
.el_grey { color: #808080; }
.el_shadow { text-shadow: 2px 2px 3px #808080; }
.el_error { color: #BC0707;}
.el_bg_grey { background: #D4DADB; }
.el_top10 { margin-top: 10px; }
.el_top20 { margin-top: 20px; }
.el_top30 { margin-top: 30px; }
.el_top40 { margin-top: 40px; }
.el_top50 { margin-top: 50px; }
.el_bot20 { margin-bottom: 20px; }
.el_bot30 { margin-bottom: 30px; }
.verticalPadding30 { padding: 30px 0; }
.el_left15 { margin-left: 15px;}

/* +++ Menu Classes +++ */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus { background: none !important; }
.navbar-nav > li .fa { margin-top: 4px; }
a.filterItem { color: #11C4FF !important; }
a.filterItem:hover { color: #FFF !important; }
.navbar-brand { padding: 6px 15px 15px 15px; }

/* +++ Forms Classes +++ */

/* Light Grey */
/*
.form-control { background-color: rgba(22, 32, 42, 1.0); color: #2AABD2; border: 1px solid #2AABD2; }
.dropdown-menu { background-color: #000 !important; background-image: linear-gradient(to bottom, #BBCACC 0px, #86989B 100%) !important; }
.form-control::-moz-placeholder { color: #39596C; }
.form-control:-ms-input-placeholder { color: #39596C; }
.form-control::-webkit-input-placeholder { color: #39596C; }
.btn-default, .btn-default:hover, .btn-default:focus { background-image: linear-gradient(to bottom, #BBCACC 0px, #86989B 100%) !important; color: #0166B8; background-position: 0px 0px; text-shadow: 2px 2px 2px rgba(150, 150, 150, 1); border: 1px solid #2AABD2; background-repeat: no-repeat; }
.btn-default:hover { background: #000; border: 1px solid #659C02; color: #002646; }
*/

/* Dark Grey */
.modal-content { background-image: linear-gradient(to bottom, #3A3A3A 0px, #171717 100%) !important; }
h4#myModalLabel { color: #7D7D7D; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
.KTlabel { color: #7D7D7D; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
.close { color: #FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); }
.dropdown-menu { background-image: linear-gradient(to bottom, #3A3A3A 0px, #171717 100%) !important; }
span.text { color: #077DDE !important; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
span.filter-option { color: #11C4FF !important; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
.btn-default, .btn-default:hover, .btn-default:focus { background-image: linear-gradient(to bottom, #3A3A3A 0px, #171717 100%) !important; color: #11C4FF; background-position: 0px 0px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); border: 1px solid #2AABD2; background-repeat: no-repeat; }
.btn-default:hover { background: #000; border: 1px solid #659C02; color: #F0F0F0; }
input.form-control, textarea.form-control, select.form-control { color: #11C4FF; background: #1B1B1B; border: 1px solid #2AABD2; }
.form-control::-moz-placeholder { color: #39596C; }
.form-control:-ms-input-placeholder { color: #39596C; }
.form-control::-webkit-input-placeholder { color: #39596C; }
.txtBgThumb { color: #2AABD2; }
label.direction { color: #2AABD2; width: 75px; }
label.radio-inline { color: #11C4FF; width: 75px; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background-color: #000; background-image: none; }
.modal-footer { border-top: 1px solid #7D7D7D; }
.modal-header { border-bottom: 1px solid #7D7D7D; }
.ico-link { color: #2AABD2; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }

/* +++ OTHERS Classes +++ */
.ui-state-active { color: #C90404;}
.noList { list-style: none; padding: 0; }
.logout { margin-top: 15px; }
.explanations{ list-style: none; font-size: 0.9em; margin-left: 5px; font-style: italic; }
.footer { margin-bottom: 50px; }
.main { margin-bottom: 50px; }
.liDocs { list-style: none; }
.ui-state-active { color: #C90404; }
.author, .author a { color: #969696; }
.white-rabbit a:hover { color: #659C02; text-decoration: none; }
.block-white-rabbit { color: #fff; margin: 0 auto; border: 1px solid #2AABD2; -moz-border-radius: 5px 5px; -webkit-border-radius: 5px 5px; border-radius: 5px 5px; background-color: rgba(22, 32, 42, 1.0); }
.block-imgStartup { margin: 0 auto; border: 1px solid #D8E1E7; -moz-border-radius: 5px 5px; -webkit-border-radius: 5px 5px; border-radius: 5px 5px; background-color: rgba(232, 232, 232, 0.5); margin-bottom: 50px;}
.legende { padding: 10px; border: 1px solid #D8E1E7; -moz-border-radius: 5px 5px; -webkit-border-radius: 5px 5px; border-radius: 5px 5px; background-color: rgba(232, 232, 232, 0.5); }
.legende h4 { text-decoration: underline; }
.dl-horizontal dt { width: 35px !important;  text-align: left !important; }
.dl-horizontal dd { margin-left: 25px !important; }
.initialLetter { color: #E13D13; font-weight: bold; font-size: 1.2em; }
.divider-vertical { height: 50px; margin-top: 0; border-left: 1px solid #0F0F0F; border-right: 1px solid #3A3A3A; vertical-align: middle; }
.cadre { padding: 10px; }
.msg { font-size: 0.8em; }
.flagSquare { color: #9BF91C; }
.flagMinus { color: #FF0000; } 
.minHeight500 { min-height: 500px; } 
