/* Phpinfo  CSS */

.center { margin: 0 auto; text-align: center; }

table, tbody {
    width: auto !important;
    /*border: 1px solid #ccc;*/
    /*background: #fff;*/
    padding: 1px;
    margin: 0 auto; text-align: center;
}

td, th, tr {
    width: auto !important;
    /*border: 1px solid #333;*/
    font-family: Verdana, sans-serif;
    font-size: 1.0em;
    padding:4px 8px;
    background-color: #1D2129 !important;
}
.e, .v, .vr {
    color: #0991C4;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
}
td.e, tr.h {
    background-color: #1D2129 !important;
}
td.v {
    background:  rgba(45, 68, 87, 0.4) !important;
}
tr:hover { background: rgba(45, 168, 216, 0.4) !important; color: #000 !important; }

.v {
    background-color: #F1F1F1;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}